#navbar .logo {
   float: none;
   text-align: center; 
} 

#navbar ul, 
#navbar ul li {
    float: none;
} 

#navbar ul li a {
padding: 5px;
border-bottom: #444 dotted 1px;
    
} 

/* Showcase Styling */

#showcase {
    height: 100%;
}

#showcase .showcase-content {
    
   padding-top: 100px;
   padding-bottom: 30px;
}



/* Home Info */

#home-info {
    height: 550px;
}

#home-info .info-img {
    display: none;
    }

    #home-info .info-content {
        float: none;
        width: 100%; 
                             
    }

    .box {
        float: none;
        width: 100%;
       }

/* About Info */

#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

.l-heading {
    text-align: center;
    line-height: 1.2;
}

/* Contact - info */

#contact-info .box{
    border-bottom: #444 dotted 1px;
}